@import "reset";
@import "colors";

:root {
    --black: #000;
    --orange: #ffa500;
    --dark: #252422;
    --dark-light: rgba(37, 36, 34, 0.6);
}

/* Conf Generales Empieza */

body {
    background-color: $black;
    min-height: 100vh;
}

.main,
.section {
    background-color: $black;
    color: $light;
}


h1 {
    font-size: 3rem;
}

.orange {
    color: $orange;
}

::selection {
    background-color: $white;
    color: $black;
}

.orange::selection {
    color: $orange;
}

.btn-orange {
    background-color: $orange;
    color: $black;
}

.btn-orange:hover {
    border: 1px solid $orange;
    background-color: $black;
    color: $orange;
}

.general-btn a {
    font-size: 1.2em;
}

.full-width {
    width: 100%;
}

.max-width-page {
    max-width: 1200px;
}

/* Conf Generales Termina */

/* Header Empieza */
.header {
    * {
        color: $light;
    }

    .logo {
        width: 3rem;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }
    
    .navbar-brand:hover {
        font-weight: bold;
        color: $orange;
    }
    
    .menu-icon {
        font-size: 2rem;
    }
    
    .menu-icon:hover, 
    .menu-button:hover {
        color: $orange !important;
    }
    
    .offcanvas {
        background-color: $dark;
    }
    
    .close-btn {
        font-size: 2.5rem;
        position: absolute;
        right: 0.5rem;
    }
    
    .close-btn:hover {
        font-weight: bolder;
        cursor: pointer;
        color: $orange;
    }
    
    .nav-link:hover {
        color: $orange;
        font-weight: bold;
    }
    
    .active {
        font-weight: bold;
        color: $orange !important;
    }
}
/* Header Termina */

/* Footer Empieza */
.footer {
    background-color: $light;
    color: $dark;

    .logo-and-brand {
        font-size: 1.5rem;

        .logo {
            width: 4rem;
        }
    }

    .social-media {
        font-size: 1.5rem;
        margin-bottom: 1rem;

        a {
            color: $dark;

            :hover {
                color: $orange;
            }
        }
    }

    ::selection {
        background-color: $dark;
        color: $light;
    }

    .orange::selection {
        color: $orange;
    }
}
/* Footer Termina */

/* Home Página Empieza */

.welcome-home {
    position: relative;
    height: calc(100vh - 74px);
    overflow: hidden;

    .main__bg-video {
        position: relative;
        top: 30%;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        width: auto;
        height: auto;
        transform: translateX(-50%) translateY(-30%);
        z-index: -100;
    }

    .welcome-home__content {
        position: absolute;
        top: 1rem;
        width: 100vw;
        z-index: 1;
        color: $white;
        text-align: center;
    }

    .scroll-btn {
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
        z-index: 1;
        color: $light;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }
    
    .scroll-btn:hover {
        opacity: 0.8;
    }
}

.nuestros-servicios-home {
    .carousel {
        .carousel-item {
            img {
                object-fit: cover;
            }

            .carousel-caption {
                background-color: $dark-light;
            }
        }
    }
}

.nuestros-clientes-home {
    .logo-marca-home {
        height: 8rem;
    }
}

/* Home Página Termina */


/* Nuestros Servicios Página Empieza */

.nuestros-servicios__team-work {
    max-height: 450px;
    object-fit: cover;
    object-position: top;
}

.nuestros-servicios__main {
    background-color: $black;
    color: $light;
}

.nuestros-servicios-section {
    background-color: $black;
    color: $light;
}

.nuestros-servicios__img {
    max-width: 600px;
    margin: auto;
}

/* Nuestros Servicios Página Termina */

/* Nuestros Clientes Página Empieza */

.nuestros-clientes-section__width {
    max-width: 992px;
}

.testimony-container {
    margin: 0 auto 2rem auto;

    .nuestros-clientes-logo {
        width: 100%;
    }
    
    .nuestros-clientes-logo-redondo {
        width: calc(100%*0.8);
    }
}

.testimony-container:last-child {
    margin: 0 auto;
}

.testimonios {

    .carousel-item {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .clientes-logo {
        height: 40%;
        width: 60%;
        padding: 0.5rem;
    }

    .clientes-logo-redondo {
        height: 40%;
        width: 40%;
        padding: 0.5rem;
    }

    .carousel-control-prev,
    .carousel-control-next {
        transform: translateY(-5rem);
    }
}


/* Nuestros Clientes Página Termina */

/* Acerca de Nosotros Página Empieza */

.presentation-container {
    margin: 0 auto 2rem auto;

    .img-container {
        .staff-foto {
            width: 100%;
        }
    }
}



/* Acerca de Nosotros Página Termina */

/* Hablemos Empieza */

.hablemos-section {
    text-align: left !important;
}

.form {
    padding: 0 2rem;

    .form-control:focus {
        border-color: $orange;
        box-shadow: inset 0 0.5rem 0.5rem rgba(0, 0, 0, 0.075), 0 0 8px var(--orange);
      }
    
    .form-label {
        font-weight: bold;
        font-size: 1.2rem;
    }
    
    .textarea {
        resize: none;
    }
}



.nuestras-redes__width {
    max-width: 800px;
}

.redes-container a {
    color: $light;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;

    .bi {
        font-size: 1.8rem;
        padding-right: 0.5rem;
    }
}

.redes-container a:hover {
    color: $orange;
}

/* Hablemos Termina */

/* Medias Queries Empieza */

@media screen and (max-width:576px) {
    .logo-marca-home {
        height: 6.5rem;
    }


    .nuestros-servicios-section {
        .row {
            margin: auto;
        }

        .nuestros-servicios__img {
            max-width: 300px;
        }
    }
}

@media only screen and (min-width:768px) and (min-height: 700px) {
    .section-home {
        height: 100vh;
    }
}

@media screen and (min-width:992px) {
    .carousel {
        height: 500px;
        width: 820px;

        img {
            height: 500px;
            width: 820px;
        }
    }
}

/* Medias Queries Termina */
